@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="index.css">


<div class="MainContainer">
    <div class="Name">
        <p>Mark Daniel P Notado</p>
    </div>

    <div class="Address">
        <p>Address: Tabunan,Nailon</p>
    </div>

    <div class="Ambition">
        <p>Ambition to be a motherfakingshit yoho</p>
    </div>
</div>
